# Environment Variables
# Copy this file to .env and fill in the values

# Next.js Configuration
NEXT_DEBUG_BUILD=
NEXT_DEPLOYMENT_ID=
NEXT_DEV_WRANGLER_ENV=
NEXT_OTEL_FETCH_DISABLED=
NEXT_OTEL_PERFORMANCE_PREFIX=
NEXT_OTEL_VERBOSE=
NEXT_PHASE=
NEXT_PRIVATE_DEBUG_CACHE=
NEXT_PRIVATE_RESPONSE_CACHE_MAX_SIZE=
NEXT_PRIVATE_RESPONSE_CACHE_TTL=
NEXT_PRIVATE_TEST_PROXY=
NEXT_PUBLIC_ATHENA_API_KEY=
NEXT_PUBLIC_ATHENA_CLIENT=
NEXT_PUBLIC_ATHENA_COMPANY_ID=
NEXT_PUBLIC_ATHENA_ORGANIZATION_ID=
NEXT_PUBLIC_ATHENA_STORAGE_S3_ID=
NEXT_PUBLIC_ATHENA_USER_ID=
NEXT_RUNTIME=
NEXT_SERVER_ACTIONS_ENCRYPTION_KEY=
NEXT_SSG_FETCH_METRICS=

# Node.js Configuration
NODE_ENV=

# MinIO Storage Configuration
MINIO_BUCKET=

# Other
A=
ALLOWED=
ALLOWED_COOKIE_SIZE=
ANY_VAR=
ASSET_SUFFIX=
ATHENA_API_KEY=
ATHENA_AUTH_MAX_TEMPLATE_VARIABLES=
ATHENA_AUTH_MAX_TEMPLATE_VARIABLE_LENGTH=
ATHENA_AUTH_PATH=
ATHENA_INTEGRATION_API_KEY=
ATHENA_INTEGRATION_BASE_URL=
ATHENA_INTEGRATION_CLIENT=
ATHENA_INTEGRATION_COMPANY_ID=
ATHENA_INTEGRATION_FILE_ROUTES_AVAILABLE=
ATHENA_INTEGRATION_ID_COLUMN=
ATHENA_INTEGRATION_INSERT_BODY_JSON=
ATHENA_INTEGRATION_ORGANIZATION_ID=
ATHENA_INTEGRATION_SELECT_COLUMNS=
ATHENA_INTEGRATION_STORAGE_S3_ID=
ATHENA_INTEGRATION_TABLE=
ATHENA_INTEGRATION_UPDATE_BODY_JSON=
ATHENA_INTEGRATION_UPLOAD_BUCKET=
ATHENA_INTEGRATION_UPLOAD_OBJECT_PATH=
ATHENA_INTEGRATION_USER_ID=
ATHENA_STORAGE_S3_ID=
B=
BLOCKED=
C=
CF_PREVIEW_DOMAIN=
CF_WORKER_NAME=
CHUNK_BASE_PATH=
CLIENT_STATIC_FILES_RUNTIME_MAIN=
D=
DEPLOYMENT_ID=
E=
ERROR_CODE_DELIMITER=
F=
G=
H=
J=
K=
KEY_SEPARATOR=
L=
LOCAL_DEV_ORIGIN=
M=
MIDDLEWARE_FILENAME=
N=
O=
OPEN_NEXT_ERROR_LOG_LEVEL=
OPEN_NEXT_ORIGIN=
P=
PACKAGE_VERSION=
PARAM_SEPARATOR=
PORT= # default: 3000
PROXY_FILENAME=
Q=
R=
REACT_HYDRATION_ERROR_LINK=
S=
SECURE_COOKIE_PREFIX=
SERVICE=
T=
TERMINATOR=
TEST_VAR=
TOAST_WIDTH=
TURBOPACK=
U=
UNAVAILABLE_MARKER=
UNDERSCORE_GLOBAL_ERROR_ROUTE=
UNDERSCORE_NOT_FOUND_ROUTE=
V=
VERCEL=
VERCEL_BRANCH_URL=
VERCEL_ENV=
VERCEL_PROJECT_PRODUCTION_URL=
VERCEL_URL=
VIRT_ON=
W=
Y=
_=
__NEXT_BUILD_ID= # default: 
__NEXT_BUNDLER= # default: Turbopack
__NEXT_BUNDLER_HAS_PERSISTENT_CACHE=
__NEXT_CACHE_COMPONENTS=
__NEXT_DEV_INDICATOR=
__NEXT_DEV_INDICATOR_POSITION=
__NEXT_DIST_DIR=
__NEXT_EXPERIMENTAL_HTTPS=
__NEXT_INSTANT_NAV_TOGGLE=
__NEXT_PREVIEW_MODE_ENCRYPTION_KEY= # default: 
__NEXT_PREVIEW_MODE_ID= # default: 
__NEXT_PREVIEW_MODE_SIGNING_KEY= # default: 
__NEXT_PRIVATE_ORIGIN=
__NEXT_ROUTER_BASEPATH= # default: 
__NEXT_TELEMETRY_DISABLED=
__NEXT_TEST_MAX_ISR_CACHE=
__NEXT_TEST_MODE=
__NEXT_VERBOSE_LOGGING=
